.pixel {
	border-style: solid;
	border-color: black;
	/* background-color:; */
}

.border {
	border-style: solid;
	border-color: black;
	background-color: greenyellow;
}

.grid {
	display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
	width: 360px;
	height: 510px;
}

.block {
	background-color: red;
}