.pixel {
	/* border-style: solid;
	border-color: black; */
}

.border {
	/* border-style: solid;
	border-color: black; */
	/*background-color: greenyellow;*/
}

.grid {
	display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
	width: 720px;
	height: 360px;
	position:absolute; top:0px; left:0px;
}

.block {
	background-color: red;
}

.moving {
	background-color: greenyellow;
}
#canvas-wrap { position:relative } /* Make this a positioned parent */
/* #overlay     { position:absolute; top:0px; left:0px; } */
#canvas { 
	border: 1px solid black; 
	background-color: black;
}
	/* position: absolute; top:0px; left:0px;} */